body,  body * {
    font-family: "DejaVu Serif";
    font-size: 16px;
}

div#navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, rgb(240, 244, 250), rgb(180, 199, 231));
}

div#navbar > ul > li {
    float: left;
}

div#navbar > ul > li, div#navbar > ul > li > a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

div#navbar > ul > li a:hover, .button:hover {
    background-color: #2196F3;
    border-radius: 32px;
}

div#navbar {
    top: 0;
    position: sticky;
    z-index: 1000;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

#content {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    margin-top: 10px;
    padding: 10px;
}

#copyright {
    text-align: center;
}

@-webkit-keyframes button-animation { 
  0% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes button-animation {
  0% { opacity: 0.5; }
  100% { opacity: 1; }
}

.button{
    display: inline-block;
    padding: 4px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 32px;
    border: 1px solid #2196F3;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
  -webkit-animation-name: button-animation
  -webkit-animation-duration: 1s;
  animation-name: button-animation;
  animation-duration: 1s;
}

a.button {
    text-decoration: none;
    color: black;
}

.copyright-button {
    vertical-align: -8px
}
