<div id="sm-buttons" class="section">
    {% with name="Email", href="mailto:demianwolfssd@gmail.com" %}
        {% include "index/social/item.html" %}
    {% endwith %}
    {% with name="Telegram", href="https://t.me/demian_wolf" %}
        {% include "index/social/item.html" %}
    {% endwith %}
    {% with name="Facebook", href="https://www.facebook.com/demian.wolf.942" %}
        {% include "index/social/item.html" %}
    {% endwith %}
    {% with name="LinkedIn", href="https://www.linkedin.com/in/demian-volkov-26557b16b/" %}
        {% include "index/social/item.html" %}
    {% endwith %}
    {% with name="GitHub", href="https://github.com/demian-wolf/" %}
        {% include "index/social/item.html" %}
    {% endwith %}
    {% with name="SO", href="https://stackoverflow.com/users/8661764/demian-wolf?tab=profile" %}
        {% include "index/social/item.html" %}
    {% endwith %}
</div>
