<div>
    <h4>Code Club</h4>

    <div>
        <img src="https://codeclub.org/assets/home/mission/code-club-logo-9261b7bce76889aa55f3e783e4fb31abfd3937ab76f3dd8a5d468d533023a96f.png"
             alt="Code Club logo" width="128" height="128"
        />
        <p>
            I am a mentor at <a href="https://codeclub.org/" target="_blank">CodeClub</a>,
            an international non-profit organization that helps teenagers from 160+ countries worldwide learn to code.
        </p>
        <p>
            I started working at the <a href="https://codeclub.com.ua/" target="_blank">Ukrainian branch</a>
            of the organization two years ago, and became the
            <a href="https://www.facebook.com/CodeClubUA/posts/3223243804437926" target="_blank">youngest mentor</a>
            there.
        </p>
        <p>
            Since then, I've taught 40+ young people from different parts of the country.
            Not only did they acquire a solid knowledge of the basics of coding, but, what's more important,
            they got interested in programming, and many of them decided to link their future lives with it.
        </p>
        <p>
            I mentored different students. Some have written their first line of code with me, while others had prior
            programming experience and were looking for opportunities to boost their skills.
        </p>
        <p>I conduct weekly online lessons via Zoom, which last about 2 hours on average.</p>
        <p>
            To improve students' learning experience, I built an online LMS (learning management system).
            Now students have everything in one place, just one click away from them: from sending the homework
            and receiving the feedback to real-time chats with the mentor.
            <a href="https://codeclubua.pythonanywhere.com/" target="_blank">Check it out!</a>
        </p>
    </div>
</div>

<div class="collapsible">
    <div class="collapsible__title">Video Gallery</div>

    <div class="collapsible__content">
        <div class="portfolio__gallery">
            {% with title="My report at the end of 2020", id="dvABM9gyNMg" %}
                <div class="portfolio__gallery_item">
                    {% include "common/youtube.html" %}
                </div>
            {% endwith %}
            {% with title="A video recording of a lesson", id="qnzzT75tyXQ" %}
                <div class="portfolio__gallery_item">
                    {% include "common/youtube.html" %}
                </div>
            {% endwith %}
        </div>
    </div>
</div>
