#my-photo {
    border: 1px;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

#greeting {
    text-align: center;
}

#social-media-buttons-container {
    text-align: center;
}

.social-media-button > img, .social-media-button > a > img {
    width: 32px;
    height: 32px;
}

#smile {
    vertical-align: bottom;
}


#hobbies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hobby {
    flex: 0 1 15%;
    margin: 10px;
    flex-grow: 1;
    background-image: linear-gradient(to bottom right, rgb(240, 244, 250), rgb(180, 199, 231));
    border-radius: 32px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
@media screen and (max-width: 900px) {
    .hobby {
        flex-basis: 100%;
    }
}
.hobby-title {
    margin: 25px;
    text-align: center;
    font-weight: bold;
}
.hobby-description-container {
    position: absolute;
    background-image: linear-gradient(to bottom right, rgb(240, 244, 250), rgb(180, 199, 231));
    border-radius: 32px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    padding: 25px;
    margin: 25px;
    display: none;
}

.hobby-description {
    display: inline;
    font-style: italic;
}

.hobby:hover .hobby-description-container, .hobby:active .hobby-description-container {
    display: block;
}

#favorites-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.favorites-button {
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
}
