#about-me {
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-wrap: wrap;
}

#about-me__photo {
    border: 1px;
    margin: 20px;
}

#about-me__text {}

#sm-buttons {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

#sm-buttons > a, #sm-buttons > a > img {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 32px;
}

.section {}
.section__name {text-align: center;}

#portfolio {
    max-width: 100%;
    padding: 10px;
}

#portfolio__tabs {
    display: flex;
    flex-wrap: wrap;
}

#portfolio__tabs > a {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.portfolio__tab_caption {
    text-align: center;
}

.portfolio__tab_button_active {
    background-image: linear-gradient(to bottom right, rgb(240, 244, 250), rgb(180, 199, 231));
}

.portfolio__gallery {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__gallery_item {
    padding-right: 20px;
}
