<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - Demian Wolf's Personal Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/base.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="navbar">
            <ul>
                <li><a href="{{ url_for('index') }}" title="Go to the homepage">Home</a></li>
                <li><a href="https://github.com/demian-wolf/" target="_blank" title="Visit my Github">My projects</a></li>
                <li><a href="mailto:demianwolfssd@gmail.com" target="_blank" title="Write me an e-mail">Contact me</a></li>
            </ul>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="copyright">
            <p>© Demian Volkov 2020</p>
            <p>Powered by <a class="button copyright-button" target="_blank" href="https://python.org/">Python</a> <a class="button copyright-button" target="_blank" href="https://flask.palletsprojects.com/">Flask</a> and <a class="button copyright-button" target="_blank" href="https://pythonhosted.org/Frozen-Flask/">Frozen-Flask</a></p>
            <p>Hosted at <a class="button copyright-button" target="_blank" href="https://github.com/">Github</a> <a class="button copyright-button" target="_blank" href="https://pages.github.com/">Pages</a></p>
            <p>
                <a href="https://info.flagcounter.com/Y1eW">
                    <img src="https://s01.flagcounter.com/count2/Y1eW/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0">
                </a>
            </p>
        </div>
    </body>
</html>
