{% extends 'base.html' %}

{% block title %}Favourite Music{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/favourite-music.css') }}">
{% endblock %}

{% block content %}
    {% for genre in compositions %}
        <h1>{{ genre }}</h1>
        <ul>
            {% for composer in compositions[genre] %}
                {% if composer %}
                    <li>
                    <h3>{{ composer }}</h3>
                {% endif %}
                    <ul>
                        {% for song in compositions[genre][composer] %}
                            <li>
                                {{ song[0] + ":" }}
                                {% if song[1] %}
                                    <span style="cursor: help;" title="{{ song[1] }}">❓</span>
                                {% endif %}
                                {% if composer %}
                                    {% set path = url_for('static', filename="sound/favourite-music/" + genre + "/" + composer + "/" + song[0] + ".mp3") %}
                                {% else %}
                                    {% set path = url_for('static', filename="sound/favourite-music/" + genre + "/" + song[0] + ".mp3") %}
                                {% endif %}
                                <audio src="{{ path }}" class="music-item" controls>
                                    <embed src="{{ path }}" class="music-item" loop="false" autostart="false">
                                </audio>
                            </li>
                        {% endfor %}
                    </ul>
                {% if composer %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    <hr>
    {% endfor %}
{% endblock %}
