{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/index.css') }}">
    <script>
        const totalPortfolioTabs = 4;

        function gotoTab(destTabId) {
            for (let tabId = 1; tabId <= totalPortfolioTabs; tabId++) {
                const tab = document.getElementById(`portfolio__tab${tabId}`);
                const tabButton = document.getElementById(`portfolio__tab${tabId}_button`);

                if (tabId === destTabId) {
                    tab.style.display = "block";
                    tabButton.classList.add("portfolio__tab_button_active");
                } else {
                    tab.style.display = "none";
                    tabButton.classList.remove("portfolio__tab_button_active");
                }
            }
        }

        function getCurrentTabId() {
            const currentTabIdMatch = window.location.hash.match("^#portfolio__tab(\\d+)$");
            return currentTabIdMatch ? parseInt(currentTabIdMatch[1]) : 1;
        }

        function gotoCurrentTab() {
            gotoTab(getCurrentTabId());
        }

        document.addEventListener("DOMContentLoaded", gotoCurrentTab);
        window.addEventListener("hashchange", gotoCurrentTab);
        window.addEventListener("popstate", gotoCurrentTab);
    </script>
{% endblock %}

{% block content %}    
    <div id="about-me">
        <img id="about-me__photo" src="static/images/photo.png" alt='My "photo"'>
        <div id="about-me__text">
            <p>
                Hi!
            </p>
            <p>
                My name is Demian Volkov.
            </p>
            <p>
                Glad to see you here!
            </p>
        </div>
    </div>

    <div id="portfolio" class="section">
        <h3 class="section__name">Portfolio</h3>
        <div id="portfolio__tabs">
            <a id="portfolio__tab1_button" class="button" href="#portfolio__tab1">Software Development</a>
            <a id="portfolio__tab2_button" class="button" href="#portfolio__tab2">Mentoring at CodeClub</a>
            <a id="portfolio__tab3_button" class="button" href="#portfolio__tab3">Mathematics</a>
            <a id="portfolio__tab4_button" class="button" href="#portfolio__tab4">Martial Arts</a>
        </div>
        <div id="portfolio__tab1">
            <h3 class="portfolio__tab_caption">Software Development</h3>
            <div>
                
            </div>
        </div>
        <div id="portfolio__tab2">
            <h3 class="portfolio__tab_caption">Mentoring at CodeClub</h3>
        </div>
        <div id="portfolio__tab3">
            <h3 class="portfolio__tab_caption">Mathematics</h3>
        </div>
        <div id="portfolio__tab4">
            <h3 class="portfolio__tab_caption">Martial Arts</h3>
        </div>
    </div>

    <div id="sm-buttons">
        <a class="button" href="mailto:demianwolfssd@gmail.com" target="_blank" title="Email">
            <img src="{{ url_for("static", filename="images/social-media/Gmail.png") }}" alt="Email">
        </a>
        <a class="button" href="https://t.me/demian_wolf" target="_blank" title="Telegram">
            <img src="{{ url_for("static", filename="images/social-media/Telegram.png") }}" alt="Telegram">
        </a>
        <a class="button" href="https://www.facebook.com/demian.wolf.942" target="_blank" title="Facebook">
            <img src="{{ url_for("static", filename="images/social-media/Facebook.png") }}" alt="Github">
        </a>
        <a class="button" href="https://www.linkedin.com/in/demian-volkov-26557b16b/" target="_blank" title="LinkedIn">
            <img src="{{ url_for("static", filename="images/social-media/LinkedIn.png") }}" alt="LinkedIn">
        </a>
        <a class="button" href="https://github.com/demian-wolf" target="_blank" title="Github">
            <img src="{{ url_for("static", filename="images/social-media/Github.png") }}" alt="Github">
        </a>
        <a class="button" href="https://stackoverflow.com/users/8661764/demian-wolf?tab=profile" target="_blank" title="StackOverflow">
            <img src="{{ url_for("static", filename="images/social-media/StackOverflow.png") }}" alt="StackOverflow">
        </a>
        <a class="button" href="https://klavogonki.ru/u/#/546841/" target="_blank" title="Клавогонки (en. KeyboardRaces)">
            <img src="http://klavogonki.ru/favicon.ico" alt="Клавогонки (en. Keyboardraces)">
        </a>
    </div>
{% endblock %}
