{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/index.css') }}">
    <script>
        const totalPortfolioTabs = 3;

        function showPortfolioTab(tabId) {
            const tab = document.getElementById(`portfolio__tab${tabId}`);
            const tabButton = document.getElementById(`portfolio__tab${tabId}_button`);

            tab.style.display = "block";
            tabButton.classList.add("portfolio__tab_button_active");
        }

        function hidePortfolioTab(tabId) {
            const tab = document.getElementById(`portfolio__tab${tabId}`);
            const tabButton = document.getElementById(`portfolio__tab${tabId}_button`);

            tab.style.display = "none";
            tabButton.classList.remove("portfolio__tab_button_active");
        }

        function gotoPortfolioTab(destTabId) {
            for (let tabId = 1; tabId <= totalPortfolioTabs; tabId++) {
                tabId === destTabId ? showPortfolioTab(tabId) : hidePortfolioTab(tabId);
            }
        }

        function resetPortfolioTabs() {
            for (let tabId = 1; tabId <= totalPortfolioTabs; tabId++) {
                hidePortfolioTab(tabId);
            }
        }

        document.addEventListener("DOMContentLoaded", () => gotoPortfolioTab(1));
    </script>
    <script>
        const totalCollapsibles = 3;

        function _getCollapsible(collapsibleId) {
            return document.getElementById(`collapsible${collapsibleId}`);
        }

        function _getCollapsibleContent(collapsibleId) {
            return _getCollapsible(collapsibleId).querySelector(".collapsible__content");
        }

        function _getCollapsibleArrow(collapsibleId) {
            return _getCollapsible(collapsibleId).querySelector(".collapsible__arrow")
        }

        function collapsibleSetState(collapsibleId, destState) {
            _getCollapsibleContent(collapsibleId).style.display = destState ? "block" : "none";
            _getCollapsibleArrow(collapsibleId).innerHTML = destState ? "\u25B2" : "\u25BC";
        }

        function collapsibleToggle(collapsibleId) {
            const newState = _getCollapsibleContent(collapsibleId).style.display === "none";
            collapsibleSetState(collapsibleId, newState);
        }

        document.addEventListener("DOMContentLoaded", () => {
            for (let collapsibleId = 1; collapsibleId <= totalCollapsibles; collapsibleId++) {
                collapsibleSetState(collapsibleId, false);
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div id="about-me">
        <img id="about-me__photo" src="static/images/photo.png" alt='My "photo"'>
        <div id="about-me__text">
            <p>
                Hi! I'm glad to see you on my Portfolio Website.<br/>
                My name is Demian Volkov. I am a 16-years-old high-school student from Ukraine.
            </p>
            <p>
                I'm interested in math and linguistics.<br/>
                I have practiced martial arts for 10 years.<br/>
                But my main interest is software development.
            </p>
            <p>
                See my Portfolio below for details.
            </p>
        </div>
    </div>

    <div id="sm-buttons">
        <a class="button" href="mailto:demianwolfssd@gmail.com" target="_blank" title="Email">
            <img src="{{ url_for("static", filename="images/social-media/Gmail.png") }}" alt="Email">
        </a>
        <a class="button" href="https://t.me/demian_wolf" target="_blank" title="Telegram">
            <img src="{{ url_for("static", filename="images/social-media/Telegram.png") }}" alt="Telegram">
        </a>
        <a class="button" href="https://www.facebook.com/demian.wolf.942" target="_blank" title="Facebook">
            <img src="{{ url_for("static", filename="images/social-media/Facebook.png") }}" alt="Github">
        </a>
        <a class="button" href="https://www.linkedin.com/in/demian-volkov-26557b16b/" target="_blank" title="LinkedIn">
            <img src="{{ url_for("static", filename="images/social-media/LinkedIn.png") }}" alt="LinkedIn">
        </a>
        <a class="button" href="https://github.com/demian-wolf" target="_blank" title="Github">
            <img src="{{ url_for("static", filename="images/social-media/Github.png") }}" alt="Github">
        </a>
        <a class="button" href="https://stackoverflow.com/users/8661764/demian-wolf?tab=profile" target="_blank"
           title="StackOverflow">
            <img src="{{ url_for("static", filename="images/social-media/StackOverflow.png") }}" alt="StackOverflow">
        </a>
        <a class="button" href="https://klavogonki.ru/u/#/546841/" target="_blank"
           title="Клавогонки (en. KeyboardRaces)">
            <img src="http://klavogonki.ru/favicon.ico" alt="Клавогонки (en. Keyboardraces)">
        </a>
    </div>

    <div id="portfolio" class="section">
        <h2 class="section__name">Portfolio</h2>
        <div id="portfolio__tabs">
            <a id="portfolio__tab1_button" class="button" onclick="gotoPortfolioTab(1)">Academics & Sports</a>
            <a id="portfolio__tab2_button" class="button" onclick="gotoPortfolioTab(2)">Software Development</a>
            <a id="portfolio__tab3_button" class="button" onclick="gotoPortfolioTab(3)">Community Service</a>
        </div>
        <div id="portfolio__tab1">
            <h3 class="portfolio__tab_caption">Academics & Sports</h3>
            <h3>Achievements</h3>
            <table>
                <thead>
                <tr>
                    <th>Achievement</th>
                    <th>Years & Level</th>
                    <th>Additional Information</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Got a 1500 on the SAT</td>
                    <td><p>October 2nd, 2021</p></td>
                    <td><p>730 EBRW and 770 Math</p></td>
                </tr>
                <tr>
                    <td>Top 0.2% at TypeRacer</td>
                    <td><p>2021</p></td>
                    <td><p>Average typing speed is 130+ wpm (650+ cpm).</p></td>
                </tr>
                <tr>
                    <td>Winner of UOI-2021</td>
                    <td>
                        <p>2020-2021, II stage, National level</p>
                    </td>
                    <td>Ukrainian Olympiad in Informatics (Competitive Programming)</td>
                </tr>
                <tr>
                    <td>Top 5 at iTalent</td>
                    <td><p>2019-2020, National Stage</p></td>
                    <td>Desktop & Mobile Software Nomination</td>
                </tr>
                <tr>
                    <td><p>Multi-time Winner of Olympiads in Competitive Programming</p></td>
                    <td>
                        <p>2019-2020 (3rd place in the region, 1st place in the district)</p>
                        <p>2018-2019 (1st place in the district)</p>
                        <p>2017-2018 (1st place in the city)</p>
                        <p>2016-2017 (1st place in the district)</p>
                    </td>
                    <td><p>Competitive Programming</p></td>
                </tr>
                <tr>
                    <td>Multi-time Winner of Olympiads in IT</td>
                    <td>
                        <p>2019-2020 (2nd place in the district)</p>
                        <p>2018-2019 (1st place in the district).</p>
                    </td>
                    <td>
                        <p>Using Microsoft Office Word, Excel, PowerPoint, Access for solving non-standard tasks.</p>
                    </td>
                </tr>
                <tr>
                    <td>Winner of the Regional Festival in Computer Graphics and Animation</td>
                    <td><p>2017-2018 (1st place in the region)</p></td>
                    <td>The Web Design nomination</td>
                </tr>
                <tr>
                    <td><p>The Grand Prize at the Olimpus International Contest</p></td>
                    <td><p>2019-2020, 1st place in Mathematics, Computer Science, Biology, English, Ukrainian
                        language.</p></td>
                    <td><p>Scored the total of 497 out of 500.</p></td>
                </tr>
                <tr>
                    <td><p>The Best Student of Educational Establishment</p></td>
                    <td>
                        <p>2019-2020, a scholarship from Kharkiv City Council</p>
                        <p>2018-2019, a scholarship from Merefa City Council</p>
                        <p>2017-2018, a scholarship from Merefa City Council</p>
                    </td>
                    <td>
                        <p>2019-2020: 2500+ students</p>
                        <p>2017-2018 and 2018-2019: 300+ students</p>
                    </td>
                </tr>
                <tr>
                    <td>Multi-time Winner of Olympiads in Mathematics</td>
                    <td>
                        <p>2019-2020 (4th place in the region, 2nd place in the district)</p>
                        <p>2018-2019 (3rd place in the city)</p>
                        <p>2017-2018 (1st place in the city)</p>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Multi-time Winner of the Taras Shevchenko International Language and Literature Competition
                    </td>
                    <td>
                        <p>2017-2018 (3rd place in the region, 1st place in the district)</p>
                        <p>2016-2017 (1st place nationally, 2nd place in the region, 1st place in the district)</p>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Winner of the Competition in MMA</td>
                    <td>2018-2019 (2nd place in the district)</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="portfolio__tab2">
            <h3 class="portfolio__tab_caption">Software Development</h3>
            <div>
                <div>
                    <p>I am a passionate software developer with 5+ years of experience in:</p>
                    <ul>
                        <li>creating <strong>websites</strong></li>
                        <li>building <strong>desktop</strong> and <strong>mobile</strong> applications</li>
                        <li>writing scripts for <strong>web scraping</strong> and <strong>automation</strong>, including
                            Unix and Windows system administration
                        </li>
                        <li>the development of <strong>Data Science</strong> and <strong>Machine Learning</strong>
                            solutions, especially in the area of <strong>NLP</strong></li>
                    </ul>
                    <p>I actively participate in <strong>competitive programming</strong> contests and olympiads.</p>
                </div>
                <div id="collapsible1" class="collapsible">
                    <p class="collapsible__title">
                        <a class="collapsible__toggle_link" href="javascript:void(0);" onclick="collapsibleToggle(1);">
                            <span class="collapsible__arrow">
                                ▼
                            </span>
                            My Tech Stack (Programming Languages and Frameworks I work with)
                        </a>
                    </p>
                    <div class="collapsible__content">
                        <ul>
                            <li><strong>Python</strong>: Flask, Django, Pyramid, bottle; PyQt5, tkinter, wxPython, Kivy,
                                pygame; requests, grequests, aiohttp, BeautifulSoup4, lxml, Scrapy, Selenium, pywinauto,
                                pyautogui; NumPy, Pandas, matplotlib, NLTK, spaCy, Plotly, OpenCV, scikit-learn,
                                TensorFlow; Cython, Nuitka, Numba
                            </li>
                            <li><strong>HTML5</strong>, <strong>XHTML</strong></li>
                            <li><strong>CSS3</strong>: Less, SASS, BootStrap</li>
                            <li><strong>JS</strong>: VanillaJS, Node.js, jQuery, Vue.js, React, BootStrap</li>
                            <li><strong>C++</strong>: STL, Boost, Qt, Windows API, OpenCV</li>
                            <li><strong>Tcl</strong>: Tk, Tkhtml, selenium.tcl</li>
                            <li><strong>bash</strong></li>
                            <li><strong>Java</strong>: Selenium</li>
                            <li><strong>SQL</strong>: MySQL, PostgreSQL, SQLite3</li>
                            <li><strong>NoSQL</strong>: MongoDB, Redis</li>
                            <li><strong>XML</strong>, <strong>XSD</strong></li>
                            <li><strong>JSON</strong></li>
                            <li><strong>Pickling</strong></li>
                            <li><strong>VCS</strong>: Git, SVN, and Mercurial</li>
                            <li><strong>Github</strong>, <strong>BitBucket</strong>, <strong>GitLab</strong></li>
                            <li><strong>Heroku</strong>, <strong>Pythonanywhere</strong></li>
                        </ul>
                    </div>
                </div>
                <div id="collapsible2" class="collapsible">
                    <p class="collapsible__title">
                        <a class="collapsible__toggle_link" href="javascript:void(0);" onclick="collapsibleToggle(2);">
                            <span class="collapsible__arrow">
                                ▼
                            </span>
                            My Projects
                        </a>
                    </p>
                    <div class="collapsible__content">
                        <p><a href="https://cosmopolite.online/"><strong>
                            Cosmopolite</strong></a> provides people from
                            around the globe with opportunities to
                            learn foreign languages competing in real-time.
                        </p>
                        <p>
                            <a href="https://github.com/demian-wolf/ReversoAPI/"><strong>ReversoAPI</strong></a> is an
                            open-source Pythonic REST API wrapper for the Reverso web
                            services. The project has already received 28 stars on Github, has been downloaded 11k+
                            times, and is actively developed.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="portfolio__tab3">
            <h3 class="portfolio__tab_caption">Community Service</h3>
            <div>
                <p>
                    Software development is an art.
                    While writers create books and composers make music, software developers build websites, apps,
                    and games without which we can't imagine our lives. I want others to dive into Software Development,
                    feel it, and use it to make our world a better place. That's why I share my experience with people
                    around the globe.
                </p>
            </div>
            <div>
                <h4>CodeClub</h4>
                <div>
                    <div>
                        <img width="128px" height="128px"
                             src="https://codeclub.org/assets/home/mission/code-club-logo-9261b7bce76889aa55f3e783e4fb31abfd3937ab76f3dd8a5d468d533023a96f.png"
                             alt="The CodeClub logo"/>
                    </div>
                    <div>
                        <p>
                            I am a mentor at <a href="https://codeclub.org/" target="_blank">CodeClub</a>,
                            an international non-profit organization that helps teenagers from 160+ countries
                            of the world learn to code.
                        </p>
                        <p>
                            I started working at the <a href="https://codeclub.com.ua/" target="_blank">Ukrainian
                            branch</a> of the organization two years ago,
                            and became the <a href="https://www.facebook.com/CodeClubUA/posts/3223243804437926"
                                              target="_blank">youngest mentor</a> there.
                        </p>
                        <p>
                            Since then, I've taught 40+ young people from different parts of the country. Not only did
                            they acquire a solid knowledge of the basics of coding, but, what's more important, they got
                            interested in programming, and many of them decided to link their future lives with it. I
                            mentored different students. Some have written their first line of code with me, while
                            others had prior programming experience and were looking for opportunities to boost their
                            skills.
                        </p>
                        <p>
                            I conduct weekly online lessons via Zoom, which last about 2 hours on average.
                        </p>
                        <p>
                            To improve students' learning experience, I built an online LMS (learning management
                            system). Now students have everything in one place, just one click away from them: from
                            sending the homework and receiving the feedback to real-time chats with the mentor.
                            <a href="https://codeclubua.pythonanywhere.com/" target="_blank">Check it out!</a>
                        </p>
                    </div>
                </div>
                <div id="collapsible3">
                    <p class="collapsible__title">
                        <a class="collapsible__toggle_link" href="javascript:void(0);" onclick="collapsibleToggle(3);">
                            <span class="collapsible__arrow">
                                ▼
                            </span>
                            Video Gallery
                        </a>
                    </p>
                    <div class="collapsible__content">
                        <div class="portfolio__gallery">
                            <div class="portfolio__gallery_item">
                                <p>My report at the end of 2020:</p>
                                <iframe src="https://www.youtube.com/embed/dvABM9gyNMg" title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen
                                        loading="lazy">
                                </iframe>
                            </div>
                            <div class="portfolio__gallery_item">
                                <p>A video recording of a lesson:</p>
                                <iframe src="https://www.youtube.com/embed/qnzzT75tyXQ" title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen
                                        loading="lazy">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h4>Social Media</h4>
                <p>
                    I am an active participant at <a href="https://stackoverflow.com/users/8661764/demian-wolf"
                                                     target="_blank">StackOverflow</a> and many programming-related
                    Facebook groups,
                    especially <a href="https://www.facebook.com/groups/python/" target="_blank">Python</a>.
                </p>
                <p>
                    I am also the moderator at the <a href="https://www.facebook.com/groups/pythonautomation/"
                                                      target="_blank">Python Automation</a> Facebook group with 1,500+
                    members.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
