{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/index.css') }}">
{% endblock %}

{% block content %}
    <p>
        Hi!
    </p>

    <p>
        My name is Demian Volkov. I live in Kharkiv, Ukraine. I am 15 years old, and I am a high-school student.
    </p>
    
    <p>
        I have many hobbies:
        <ul>
            <li><strong>linguistics</strong> and <strong>history</strong>, especially of Ukraine, ancient Egypt, Greece and Rome.</li>
            <li><strong>Muay Thai</strong> (aka Thai boxing)</li>
            <li><strong>programming</strong>. I love programming in Python (mostly creating desktop apps with Tkinter/PyQt, making simple games with PyGame, and web-scraping with requests+BeautifulSoup). I also enjoy creating web-sites with Flask/Django (back-end) and HTML+CSS+JS (front-end). In addition, I love competitive programming and solving logical tasks.</li>
        </ul>
    <p>
        This is my "personal page" website. Thank you for visiting it! <img id="smile" src="{{ url_for("static", filename="images/signs/smile.gif") }}" alt=":)">
    </p>

    <p>
        Map of this website:
        <a class="button" style="padding: 10px;" href="{{ url_for("favourite_music") }}">
            <img src="{{ url_for("static", filename="images/signs/sitemap/music.png") }}" alt="Music"> My favourite music
        </a>
        <a class="button" style="padding: 10px;" href="{{ url_for("favourite_movies") }}">
            <img src="{{ url_for("static", filename="images/signs/sitemap/movies.png") }}" alt="Movies"> My favourite movies
        </a>
        <a class="button" style="padding: 10px;" href="{{ url_for("favourite_books") }}">
            <img src="{{ url_for("static", filename="images/signs/sitemap/books.png") }}" alt="Books"> My favourite books
        </a>
    </p>

    <p>
        I am also at:
        <a class="button social-media-button" href="https://github.com/demian-wolf" target="_blank" title="Github">
            <img src="{{ url_for("static", filename="images/social-media/Github.png") }}" alt="Github">
        </a>
        <a class="button social-media-button" href="https://www.facebook.com/demian.wolf.942" target="_blank" title="Facebook">
            <img src="{{ url_for("static", filename="images/social-media/Facebook.png") }}" alt="Github">
        </a>
        <a class="button social-media-button" href="https://stackoverflow.com/users/8661764/demian-wolf?tab=profile" target="_blank" title="StackOverflow">
            <img src="{{ url_for("static", filename="images/social-media/StackOverflow.png") }}" alt="StackOverflow">
        </a>
        <a class="button social-media-button" href="https://klavogonki.ru/u/#/546841/" target="_blank" title="Клавогонки (en. KeyboardRaces)">
            <img src="http://klavogonki.ru/favicon.ico" alt="Клавогонки (en. KeyboardRaces)">
        </a>
    </p>
{% endblock %}
