<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}{% endblock %} - Demian Volkov's Portfolio Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/base.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="navbar" class="card">
            <a class="button" href="{{ url_for('index') }}" title="Home">
                Demian Volkov's Portfolio Website
            </a>
        </div>
        <div id="content" class="card">
            {% block content %}{% endblock %}
        </div>
        <div id="footer" class="card">
            <p>© 2020-2021 Demian Volkov</p>
            <p>Powered by <a target="_blank" href="https://flask.palletsprojects.com/">Flask</a>, <a target="_blank" href="https://pythonhosted.org/Frozen-Flask/">Frozen-Flask</a>, and <a class="copyright-button" target="_blank" href="https://pages.github.com/">Github Pages</a>.</p>
            <p>
                <a href="https://info.flagcounter.com/Y1eW" target="_blank">
                    <img src="https://s01.flagcounter.com/count2/Y1eW/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" width="162" height="137">
                </a>
            </p>
        </div>
    </body>
</html>
