<div id="about-me" class="section">
    <img id="about-me__photo"
         src="{{ url_for('static', filename='images/photo.png') }}"
         alt="My Photo" width="171" height="171"
    />

    <div id="about-me__text">
        <p>
            Hi!
            I'm glad to see you on my Portfolio Website.
            <br/>
            My name is Demian Volkov.
            I am a 16-years-old high-school student from Ukraine.
        </p>
        <p>
            I'm interested in math, linguistics, and the applications of biology in the field of AI.
            <br/>
            I have practiced martial arts for 10 years
            <br/>
            But my main interest is software development.
        </p>
        <p>
            See my Portfolio below for details.
        </p>
    </div>
</div>
