{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    {% for stylesheet in ["index", "portfolio", "collapsible", "liteyt"] %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' ~ stylesheet ~ '.css') }}">
    {% endfor %}
    {% for script in ["portfolio", "collapsible", "liteyt"] %}
        <script src="{{ url_for('static', filename='js/' ~ script ~ '.js') }}"></script>
    {% endfor %}
{% endblock %}

{% block content %}
    {% include "index/about.html" %}
    {% include "index/social/social.html" %}
    {% include "index/portfolio/portfolio.html" %}
{% endblock %}
