<div id="portfolio" class="section">
    <h2 class="section__name">Portfolio</h2>

    <div id="portfolio__tabs_buttons"></div>
    <div id="portfolio__tabs">
        <div class="portfolio__tab">
            <h3 class="portfolio__tab_caption">Academics & Athletics</h3>
            {% include "index/portfolio/tabs/academics.html" %}
        </div>

        <div class="portfolio__tab">
            <h3 class="portfolio__tab_caption">Software Development</h3>
            {% include "index/portfolio/tabs/software/software.html" %}
        </div>

        <div class="portfolio__tab">
            <h3 class="portfolio__tab_caption">Community Service</h3>
            {% include "index/portfolio/tabs/volunteering/volunteering.html" %}
        </div>
    </div>
</div>
